<!-- Designed by Archeb https://qwq.moe/ -->
<!-- 使用此 UI 必须经过 Archeb & FENGberd 授权 -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>Nyatwork OpenID - 登录</title>

  <link type="text/css" rel="stylesheet" href="/css/base.min.css?v=22" />
  <link type="text/css" rel="stylesheet" href="/css/notify.min.css?v=1" />
  <style type="text/css">
    #app input {
      width: 88%;
    }

    #app label {
      width: 35px;
    }

    #webauthn {
      width: 120px;
      margin-left: 20px;
    }
  </style>

  <script src="/js/gt.js"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>

  <!-- <script src="https://openid.natfrp.com/js/backup-check.js?v=1"></script> -->

  <script src="/js/_temp_webauthn.js?v=4"></script>
  <script src="/js/base.js?v=8" type="text/javascript" charset="utf-8"></script>
  <script>
    $(function() {
      loadGeetest(true);

      $('#username').keypress((e) => {
        if(e.which == 13) {
          $('#password').focus();
        }
      });
      $('#password').keypress((e) => {
        if(e.which == 13) {
          $('#login').click();
        }
      });

      $('#login').click(function() {
        if (!$('#username').val() || !$('#password').val()) {
          notify.warning('错误', '请输入用户名和密码');
          return;
        }

        $(this).attr('disabled', true).html('登录中...');

        callGeetest(captcha => $.post('/cgi/password/login', {
          username: $('#username').val(),
          password: $('#password').val(),
          ...captcha,
        }, function(data) {
          if (data.success) {
            notify.success('登录成功', '正在跳转, 请稍候...', -1);
            location.href = '/redirect';
          } else {
            notify.error('登录失败', data.message);
            $('#login').attr('disabled', false).html('登录');
          }
        }, 'json').fail(function() {
          notify.error('登录失败', '网络错误或服务器出现错误, 请重试');
          $('#login').attr('disabled', false).html('登录');
        }), () => $('#login').attr('disabled', false).html('登录'));
      });

      $('#webauthn').click(function() {
        if ($('#username').val().trim() == '') {
          notify.error('登录失败', '请输入用户名');
          return;
        }
        window.temp_webauthn();
      });

      if (window.temp_webauthn && window.PublicKeyCredential) {
        $('#webauthn').show();
      }
    });
  </script>
</head>

<body>
<div id="app" class="login">
  <div class="single-bg"></div>
  <div class="notify-container"></div>
  <div class="main padding-limiter">
    <div class="panel">
      <div class="double-column">
        <img class="panel-wide login-img" src="/image/login.jpg?lol=1">
        <div class="panel-narrow" id="p-login">
          <div class="title">
            Nyatwork 登录
          </div>
          <div class="control-group">
            <label>账户</label>
            <div class="controls">
              <input id="username" type="text" placeholder="用户名/邮箱/手机号" title="账户">
            </div>
          </div>
          <div class="control-group">
            <label>密码</label>
            <div class="controls">
              <input id="password" type="password" title="密码">
            </div>
          </div>
          <div style="text-align: right">
            <label>
              <a href="/register" style="margin-left: 8px">注册</a>
              <a href="/reset_password" style="margin: 0 60px 0 8px" class="wtf-fix">忘记密码?</a>
            </label>
          </div>
          <div class="actions">
            <button class="btn btn-purple" id="login">登录</button>
            <button class="btn btn-green" id="webauthn">Passkey</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
